.new-item {
    flex: .00001;
    min-height: 0px;
    animation: flexGrow 500ms ease forwards;
}

.remove-item {
    flex: 1;
    min-height: 128px;
    animation: flexShrink 500ms ease forwards;
}

@keyframes flexGrow {
    to {
        flex: 1;
        min-height: 128px;
    }
}

@keyframes flexShrink {
    to {
        flex: .01;
        flex: .00001;
        min-height: 0px;
    }
}
