.new-item {
    max-height: 0px;
    animation: grow 500ms ease forwards;
}

.remove-item {
    max-height: 500px;
    animation: shrink 500ms ease forwards;
}

@keyframes grow {
    to {
        max-height: 500px;
    }
}

@keyframes shrink {
    to {
        max-height: 0px;
    }
}
